body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6{
    color: rgb(40, 40, 40);
}

p{
    color: rgb(71, 71, 71);
}
nav{
    padding: 15px;
    background-color: blue;
    
}

ul{    
    display: flex;
    justify-content: space-between;
    
    padding: 0;
    gap: 40px;
}
ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
    color: white;
}
.container{
    
    margin-right: 100px;
    margin-left: 100px;
}
.content{
    display: flex;
    justify-content: space-between;
}
.logo{
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin: auto 0;
}

/* @media screen and (max-width: 768px) {
    .container{
        margin: 10px;
    }
    nav{
        padding: 10px, 0px;
    }

    ul li a{
        text-decoration: none;
        color: white;
        font-size: 12px;
    }
} */

.ayam{
    width: 50%;
}

.gambar{
    display: flex;
}

.title, .sub-title{
    margin: 0;
}

.title{
    margin-top: 20px;
}
.sub-title{
    margin-bottom: 20px;
}

.info-image{
    text-align: center;
    font-style: italic;
}

.bahan{
    display: flex;
    flex-direction: column;
    gap: 0;
}
.title-bahan{
    font-size: 20px;
    margin: 0;
}
table{
    width: 100%;
    margin: 20px 0;
}
td{
    text-align: center;
}
th{
    background-color:dodgerblue;
    color: white;
}
.nama-bahan{
}

footer{
    background-color: gray;
    padding-top: 20px;
    padding: 30px 0;
}
.sosmed{
    color: aquamarine;
}

.detail{
    display: flex;
    gap: 18px;
}

.content-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
}
.sosmed .list-sosmed, .list-other{
    display: flex;
    flex-direction: column;
    gap: 0;
    margin: 0;
}

.adress{
    font-size: 14px;
    color: white;
    margin: 0;
}

.detail{
    display: flex;
    flex-direction: row;
}

#comment{
    margin: 30px 0;
}
.content-comment{
    border-radius: 10px;
    /* color: white; */
    border: 1px solid gray;
}
.profile{
    display: flex;
    padding: 20px;
}

.comment textarea{
    width: 100%;
    height: 200px;
    padding: 30px;
    resize: none;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 8px;
    border: 1px solid gray;
}

.comment{
    padding: 20px;
}

.img-profile{
    width: 45px;
    height: 45px;
    border-radius: 10%;
}

.title-profile{
    margin: 0, auto;
    padding: 0px 10px;
    
}

.title-profile h6{
    margin: 0;
    font-size: 15px;
}
.title-profile p{
    margin: 0;
    font-size: 12px;
}

.submit{
    background-color: dodgerblue;
    border: none;
    border-radius: 8px;
    height: 40px;
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
}

.example-comment{
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
    gap: 10px;
    width: 100%;
    overflow-x: scroll;
    /* justify-content: space-between; */
}

.card{
    padding: 20px;
    border-radius: 10px;
    border: 1px solid gray;
    /* width: 42%; */
    /* box-sizing: content-box; */
    /* max-width: 40%; */
}

#commentList{
    gap: 10px;
    display: flex;
}

.title-card{
    margin: 0;
    font-size: 14px;
    box-sizing: border-box;
}

.message{
    margin: 0;
    font-size: 10px;
    box-sizing: border-box;
}

#commentList{
    margin: 0;
    gap: 0;
}

.icon{
    visibility: hidden;
    margin: auto 0;
    width: 40px;
    color: white;
}

@media screen and (max-width: 768px){
    nav{
        padding-right: 5px;
        padding-left: 5px;
    }
    .container{
        margin: 0 15px;
    }
    .content .list-navbar{
        gap: 9px;
    }
    .content .list-navbar li a{
        /* visibility: hidden; */
        /* position: absolute; */
        font-size: 10px;
    }
    

    .icon{
        visibility: visible;
    }
    .logo{
        font-size: 20px;

    }
    .sub-title{
        font-size: 10px;
    }
    h1{
        font-size: 16px;
    }
    p{
        font-size: 10px;
    }
    .title{
        font-size: 18px;
    }
    ol{
        padding: 0 10px;
    }
    ol li{
        font-size: 12px;
    }
    .submit{
        font-size: 12px;
        /* padding: 10px; */
        height: 30px;
        margin-top: 8px;
    }
    table{
        font-size: 12px;
    }
    .comment, .profile{
        padding: 10px;
    }
    #commentInput{
        padding: 10px;
        height: 100px;
        font-size: 12px;
    }
    .card{
        padding: 10px;
    }
    .about, .adress{
        font-size: 12px;
    }
    .detail .sosmed .list-sosmed li a, .list-other li a{
        font-size: 12px;
    }
    .content-footer{
        gap: 10px;
    }
}
